@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans");
@import url("https://fontlibrary.org/face/aileron");

/* dimensions */

$unit: 4px;

$ph: 6 * $unit;

$sidebar-width: 60 * $unit;

/* colors */

$white: #ffffff;

$red-100: #460000;
$red-300: #9f0000;
$red-500: #cc0000;
$red-900: #ff8c83;

$grey-100: #1e1e1e;
$grey-200: #2C2D2C;
$grey-300: #3c3c3c;
$grey-400: #595959;
$grey-500: #848484;
$grey-700: #c0c0c0;
$grey-900: #fefefe;


/* typography */

$font-header: 'Open Sans';
$font-text:   'Lato';

.font-header {
  font-family: $font-header;
}

.font-text {
  font-family: $font-text;
}

@mixin header-box() {
  font-size: 20pt;
  font-family: $font-header;
  border-bottom: 1px solid $grey-200;
  @apply py-2;
}

@mixin padding-vertical() {
  @apply py-4;
}

@mixin date() {
  text-align: left;
  font-size: 10pt;
  font-variant-numeric: tabular-nums;
  color: $grey-100;
  width: 120px;
  @apply pl-6;
  @apply pr-4;
}

@mixin link() {
  @apply text-xs;
  @apply text-blue-800;
}

.CV a {
  text-decoration: underline;
}

/* layout */

body {
  font-family: $font-text;
}

.CV {
  width: 100%;
  height: 100%;
  background: white;
}

.content {
}


/* Header */

.header {
  padding: $ph $ph;
  @apply py-10;
  display: flex;
  flex-direction: row;
}
.header__left {
  flex: 0 0 auto;
  width: $sidebar-width;
}
.header__name {
  font-size: 30pt;
  font-family: $font-header;
  text-transform: uppercase;
  white-space: nowrap;
  @apply -mb-2;
}
.header__title {
  font-size: 10pt;
  font-family: $font-header;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.header__right {
  opacity: 0.6;
  font-size: 11pt;
  & > * {
    display: flex;
    flex-direction: row;
    align-items: center;
    & > svg {
      @apply mr-2;
    }
    &:not(:last-child) {
      margin-bottom: $unit / 2;
    }
  }
}


/* Sidebar */

@mixin sidebar-header {
  font-family: $font-header;
  font-size: 14pt;
  border-bottom: 1px solid currentColor;
  @apply mt-4;
  @apply mb-4;
  @apply pb-2;
}

@mixin sidebar-label {
  font-weight: bold;
  text-transform: uppercase;
  @apply text-xs;
}

@mixin sidebar-value {
  color: $grey-700;
  @apply text-xs;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: $sidebar-width;

  & > * {
    @apply pl-8;
  }

  color: $grey-900;
  background-color: $grey-200;
  font-family: $font-header;
  font-size: 12.5pt;
}
.sidebar__fill {
  height: 156px;
}
.sidebar__summary {
  @include padding-vertical;
}

.skills__header {
  @include sidebar-header;
}
.skill {
  display: flex;
  flex-direction: row;
  align-items: center;
  @apply pr-6;
}
.skill__name {
  flex: 1;
  @apply text-xs;
  font-family: $font-text;
  font-weight: bold;
  opacity: 85%;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.skill__level {
  flex: 1;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: $grey-400;
  overflow: hidden;
}
.skill__level__value {
  height: 100%;
  background-color: $grey-700;
}

.sidebar__other__header {
  color: $red-300;
  background-color: $red-900;
  @include header-box;
}
.sidebar__other__content {
  flex: 1;
  color: $red-900;
  @include padding-vertical;
}

.languages {
  @include padding-vertical;
}
.languages__header {
  @include sidebar-header;
}
.language {
  display: flex;
  flex-direction: row;
  font-size: 14pt;
}
.language__name {
  flex: 1;
  text-align: right;
  @include sidebar-label;
  @apply pr-2;
}
.language__level {
  flex: 2;
  @include sidebar-value;
}


/* Summary */

.Summary__header {
  @include sidebar-header;
}
.Summary__content {
  font-family: $font-text;
  line-height: 1.2;
  @apply pr-6;
  @apply opacity-80;
  @apply text-sm;
}

/* Contact */

.Contact__header {
  @include sidebar-header;
}
.Contact__label {
  @include sidebar-label;
}
.Contact__value {
  @include sidebar-value;
}


/* Main */

.main {
  flex: 1;
  background-color: $white
}

/* Education  */

.education {
}
.education__header {
  @include header-box;
  padding: 0 $ph;
  @apply py-2;
  @apply mb-4;
}
.education__content {
  padding: 0 $ph;
}

.education__content .experience__content {
  @apply pb-4;
}

/* Work  */

.work__header {
  @include header-box;
  padding: 0 $ph;
  @apply py-2;
  @apply mb-4;
}
.work__content {
  padding: 0 $ph;
}


/* Experience item */

.experience {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-family: $font-text;
}
.experience__content {
  @apply pb-2;
}
.experience__title {
}
.experience__name {
  @apply text-sm;
}
.experience__position {
  @apply text-xs;
  color: $grey-500;
  @apply mb-0.5;
}
.experience__link {
  @include link();
  padding-top: 2px;
}
%base_description,
.experience__details {
  color: $grey-300;
  @apply text-xs;
  @apply mb-1;
}
.experience__date {
  @include date;

  position: relative;

  .experience:not(:last-child) &::before {
    position: absolute;
    content: ' ';
    top: 15px;
    left: 5px;
    height: calc(100% - 6px);
    border: 1px solid $grey-700;
    .education & {
      height: calc(100% - 9px);
    }
  }
}
.experience__date__icon {
  position: absolute;
  top: 4px;
  left: 0;
  @apply text-xs;
}
.experience__tags {
  @apply text-xs;
  color: $grey-500;
  & > span {
    &:not(:last-child) {
      @apply mr-1;
    }
    &:not(:last-child)::after {
      position: relative;
      content: ',';
    }
  }
}


/* Projects  */

.projects__header {
  @include header-box;
  @apply text-lg;
  padding: 0 $ph;
  @apply py-2;
  @apply mt-4;
  @apply mb-6;
}
.projects__content {
  padding: 0 $ph;
  @apply grid;
  @apply grid-cols-2;
  @apply gap-y-4;
}

/* Project */

.project {
  @apply flex;
  @apply flex-row;
}
.project__icon {
  @apply p-1;
  @apply pr-2;
}
.project__title {
  @apply pb-1;
}
.project__link {
  @include link();
}
.project__description {
  @extend .experience__details;
}
.project__tags {
  @extend .experience__tags;
}
